<%= render 'shared/first_header' %>
<%= render 'shared/second_header' %>


<% @teachers.each do |teacher| %>
  <% if current_teacher && [teacher.subject1&.id.to_i, teacher.subject2&.id.to_i, teacher.subject3&.id.to_i, teacher.subject4&.id.to_i, teacher.subject5&.id.to_i].all? { |id| id <= 1 } %>
    まだ教師登録は終了していません、ニックネームが書かれているボタンを押し、ユーザー登録を終了してください
  <% end %>
<% end %>

<ul class='teacher-lists'>

  <% @teachers.each do |teacher| %>

    <% if [teacher.subject1&.id.to_i, teacher.subject2&.id.to_i, teacher.subject3&.id.to_i, teacher.subject4&.id.to_i, teacher.subject5&.id.to_i].any? { |id| id >= 2 } %>
      
      <%= link_to teacher_path(teacher), class: "list" do %>

        <div class='nick-name'>
          <%= teacher.nick_name %>
          さん
        </div>

        <div class='index_image'>
          <div class='face_image'>
            <%= image_tag teacher.face_image %>
          </div>
          <div class='chart'>
            <%= image_tag("円グラフ.jpg", class: "pie-chart") %>
          </div>
        </div>

        <div class="evaluation">
          <div class="index_subject">
            <% if teacher.subject1.present? && teacher.subject1.id != 1 %>
              <%= teacher.subject1.name %>
            <% end %>
            <% if teacher.subject2.present? && teacher.subject2.id != 1 %>
              <%= teacher.subject2.name %>
            <% end %>
            <% if teacher.subject3.present? && teacher.subject3.id != 1 %>
              <%= teacher.subject3.name %>
            <% end %>
            <% if teacher.subject4.present? && teacher.subject4.id != 1 %>
              <%= teacher.subject4.name %>
            <% end %>
            <% if teacher.subject5.present? && teacher.subject5.id != 1 %>
              <%= teacher.subject5.name %>
            <% end %>
          </div>

          <div class="score">
            <%= image_tag("点数.jpg", class: "test-score") %>
          </div>
        </div>

      <% end %>

    <% end %>

  <% end %>

</ul>